@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@if(Model.IsBeta)
{
    <h1 class="display-4">This is the Beta version of the Application</h1>
}
<div class="text-center">
    <h1 class="display-4">This is list of products using Azure App configuration</h1>
    @if (Model.IsBeta)
    {
        <h1 class="display-4">This is the Beta version of the Application</h1>
    }
    <table class="table table-bordered">

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var prod in Model.products)
            {
                <tr>
                    <th scope="row">@prod.ProductID</th>
                    <td>@prod.ProductName</td>
                    <td>@prod.Quantity</td>
                </tr>
            }

        </tbody>
    </table>
</div>

