@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is list of products using Azure configuration</h1>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var prod in Model.products)
            {
                <tr>
                    <th scope="row">@prod.ProductID</th>
                    <td>@prod.ProductName</td>
                    <td>@prod.Quantity</td>
                </tr>
            }

        </tbody>
    </table>
</div>

